@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Genre

<h2>Are you sure you want to delete this genre?</h2>
<div>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
</div>
@Html.ActionLink("Back to genres", "Index")